<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- INCLUIR os assemblies do seu código (não o de testes) -->
          <Include>
            [Common]*,[Domain]*,[Application]*,[Infrastructure]*
          </Include>
          <!-- Excluir arquivos gerados/boilerplate (ajuste se não tiver) -->
          <ExcludeByFile>**/Migrations/*;**/obj/*;**/bin/*</ExcludeByFile>
          <Format>cobertura,lcov,opencover</Format>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
