<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>

          <!-- Arquivos que não valem a pena medir agora -->
          <ExcludeByFile>
            **/Program.cs
            **/Migrations/*.cs
            **/Seed/*.cs
            **/Profiles/*.cs
            **/Api/**/*
            **/Infrastructure/Identity/*.cs
            **/Application/DTOs/**/*.cs
            **/Application/Models/**/*.cs
            **/Domain/Entities/User.cs
            **/Domain/Entities/OrderItem.cs
            **/Common/Class1.cs
            **/Application/Class1.cs
            **/Domain/Class1.cs
          </ExcludeByFile>

          <!-- Assemblies inteiros, se quiser foco total em Domain/Application -->
          <Exclude>
            [Api]*
            [Infrastructure]*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
